h1 { 
	color: #ff6687;
	font-family: 'Molle', sans-serif; 
	margin-left: 300px
}
h1{
	font-size: 50px
}
p {
	font-family: 'Wire One', sans-serif;
	color: #545053;
	font-size: 35px
}
p {
	margin-left: 50px
}
